@font-face {
  font-family: "Roobert TRIAL";
  src: url("../public/fonts/roobert-font-family-1756140309-0/RoobertTRIAL-Light-BF67243fd502239.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
}

html,
body {
  overflow: hidden;
  overscroll-behavior: none;
}
body::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roobert TRIAL", Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  cursor: default;
}

/* 

NAVBAR

*/

nav {
  font-family: "Roobert TRIAL", Arial, sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 20px;
}

.main__bar {
  display: flex;
}

.company__name {
  font-size: 14px;
  padding-right: 24px;
}

.company__name:hover {
  cursor: pointer;
}

.location__logo {
  height: 14px;
}

.btn {
  color: white;
  background-color: #1a1b1c;
  padding: 12px 16px;
  font-size: 10px;
  border: none;
}

/* 

Main Page 

*/

.main-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 78vh;
  width: 100%;
  position: relative;
}

.main__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 128px;
  font-weight: 300;
  line-height: 120px;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  max-width: 200px;
  font-size: 14px;
  font-weight: 600;
  gap: 12px;
}

.arrow__left {
  flex-direction: row-reverse;
  justify-content: space-between;
}

.arrow__right {
  justify-content: space-between;
}

.buttons {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.button__border {
  border: dashed 1px black;
  position: absolute;
  top: 8px;
  left: 8px;
  right: 10px;
  bottom: 10px;
  pointer-events: none;
  z-index: 100;
  rotate: 45deg;
  width: 28px;
  height: 28px;
}

.buttons:hover {
  transform: scale(1.09);
}

.buttons:hover .button__border {
  opacity: 0.3;
  border-color: black;
}

.left__rectangle {
  position: absolute;
  top: 60px;
  left: 0;
  z-index: -1;
}

.right__rectangle {
  position: absolute;
  top: 60px;
  right: 0;
  z-index: -1;
}

.rectangle__img {
  height: 500px;
}

/* Extra left rectangles */
.left__rectangle--two {
  opacity: 0;
  position: absolute;
  top: 40px;
  left: 10px;
  z-index: -2;
}
.left__rectangle--two .rectangle__img {
  height: 540px;
  opacity: 0.7;
}
.left__rectangle--three {
  opacity: 0;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: -3;
}
.left__rectangle--three .rectangle__img {
  height: 580px;
  opacity: 0.3;
}

/* Extra right rectangles */
.right__rectangle--two {
  opacity: 0;
  position: absolute;
  top: 40px;
  right: 10px;
  z-index: -2;
}
.right__rectangle--two .rectangle__img {
  height: 540px;
  opacity: 0.7;
}
.right__rectangle--three {
  opacity: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: -3;
}
.right__rectangle--three .rectangle__img {
  height: 580px;
  opacity: 0.3;
}

/*

INTRO SECTION/LOCATION


*/

.analysis__tag {
  padding: 20px;
  font-size: 16px;
  font-weight: 600;
}

.intro__section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  z-index: 0;
}

.square__one {
  height: 480px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  animation: rotateSquare 100s linear infinite;
  z-index: 2;
  pointer-events: none;
}

.square__two {
  height: 560px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  pointer-events: none;
  opacity: 0.6;
  transform-origin: center center;
  animation: rotateSquare 70s linear infinite;
}

.square__three {
  width: 640px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  pointer-events: none;
  opacity: 0.3;
  transform-origin: center center;
  animation: rotateSquare 50s linear infinite;
}

/*  Rotations for squares */

@keyframes rotateSquare {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* Rotations for squares */

.intro__prompt {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.4;
}

.name__input {
  font-weight: 400;
  font-size: 48px;
  text-align: center;
  border: none;
  outline: none;
  width: fit-content;
  max-width: 390px;
  letter-spacing: -4px;
  color: #1a1b1c;
  border-bottom: 1px solid #1a1b1c;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.name__input::placeholder {
  color: #1a1b1c;
}

.back__arrow {
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-top: 44px;
  transition: transform 0.2s ease-in-out;
}

.back__arrow--img {
  transition: transform 0.2s ease-in-out;
  margin-bottom: 4px;
}

.back__text {
  padding-left: 12px;
  font-weight: 600;
  font-size: 14px;
}

.back__arrow--img:hover {
  transform: scale(1.09);
  cursor: pointer;
}

.proccessing {
  font-size: 20px;
  font-weight: 600;
  opacity: 0.4;
  margin-bottom: 24px;
}

.loading__bubbles {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
}

.loading__bubble {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #00070e;
  margin: 0 8px;
  animation: bounce 1s infinite;
}

.loading__bubble:nth-child(2) {
  animation-delay: 0.2s;
}
.loading__bubble:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
    opacity: 0.6;
  }
  50% {
    transform: translateY(-12px);
    opacity: 1;
  }
}

.proceed__arrow {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  transition: transform 0.2s ease-in-out;
  padding-right: 20px;
}

.proceed__arrow--img {
  transition: transform 0.2s ease-in-out;
  margin-bottom: 4px;
  background: none;
  border: none;
  outline: none;
}

.proceed__text {
  padding-right: 12px;
  font-weight: 600;
  font-size: 14px;
}

.proceed__arrow--img:hover {
  transform: scale(1.09);
  cursor: pointer;
}

/*

PHOTO UPLOAD PAGE 

*/

.photo__upload--section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70vh;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.photo__scan--img {
  transition: transform 0.3s ease-in-out;
}

.photo__scan--img:hover {
  transform: scale(1.09);
  cursor: pointer;
}

.pin__arrow--camera {
  position: absolute;
  top: -66px;
  left: 85px;
  height: 80px;
  rotate: 180deg;
}

.AI__photo--section {
  position: relative;
}

.photo__scan--title {
  position: absolute;
  top: -80px;
  left: 180px;
  width: 100%;
  text-align-last: left;
  line-height: 22px;
  font-weight: 400;
  font-size: 14px;
}

.AI__squares__one {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  pointer-events: none;
  height: 480px;
}

.AI__squares__two {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  pointer-events: none;
  height: 440px;
  opacity: 0.6;
}

.AI__squares__three {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  pointer-events: none;
  height: 400px;
  opacity: 0.3;
}

.upload__local--section {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

.local__squares__one {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  pointer-events: none;
  height: 480px;
}

.local__squares__two {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  pointer-events: none;
  height: 440px;
  opacity: 0.6;
}

.local__squares__three {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  pointer-events: none;
  height: 400px;
  opacity: 0.3;
}

.photo__upload--img {
  transition: transform 0.3s ease-in-out;
}

.photo__upload--img:hover {
  transform: scale(1.09);
  cursor: pointer;
}

.upload__title {
  position: absolute;
  top: 180px;
  left: -180px;
  width: 100%;
  max-width: 500px;
  text-align: right;
  line-height: 22px;
  font-weight: 400;
  font-size: 14px;
}

.pin__arrow--local {
  position: absolute;
  top: 118px;
  left: -40px;
  height: 72px;
}

/* 

CAMERA ACCESS POPUP

*/

.upload__local--dimmed {
  opacity: 0.3;
  pointer-events: none;
}

.camera__access__popup {
  position: fixed;
  top: 45%;
  right: 40%;
  z-index: 10002;
  max-width: 352px;
  width: 100%;
  background: #1a1b1c;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.camera__access__popup--side {
  position: absolute;
  top: 40px;
  right: -380px;
  z-index: 10002;
  margin: 0;
}

.camera__access__text {
  color: #fcfcfc;
  padding-bottom: 44px;
  padding: 12px 36px 52px 12px;
  font-weight: 400;
  text-align: left;
  width: 100%;
}

.permission__buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  max-width: 352px;
  font-weight: 600;
  color: #1a1b1c;
  text-align: center;
  border-top: solid 1px #fcfcfc;
}

.camera-access__button {
  padding: 12px;
  font-size: 16px;
  border: none;
  background: #1a1b1c;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s;
}

.camera-access__button:hover {
  color: #444444;
}

/* 

CAMERA SETUP PAGE

*/

.photo__instructions--black {
  background: none;
  color: #1a1b1c;
  padding-bottom: 12px;
}

.photo__instructions--black .photo__instructions--title,
.photo__instructions--black .photo__instructions--lists,
.photo__instructions--black .photo__instructions--item {
  color: #1a1b1c;
}

.photo__instructions--black .photo__instructions--item::before {
  border-color: #1a1b1c;
}

.camera__setup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* 

PHOTO CAPTURE PAGE

*/

.full-camera__container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-camera__video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

nav.full__camera {
  position: fixed;
  z-index: 10003;
  filter: invert(100%);
}

nav.full__camera .location__logo img {
  filter: invert(100%);
}

/* Only remove filter for analysis logo */
nav.full__camera .location__logo img.analysis-logo {
  filter: none !important;
}

.camera__bar {
  position: fixed;
  top: 50%;
  left: 40%;
  width: 100vw;
  z-index: 10001;
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  border: none;
  background: transparent;
  color: #fcfcfc;
}

.camera__button--text {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 2px;
}

.camera__logo--img {
  width: 62px;
  height: 62px;
  transition: transform 0.3s ease-in-out;
}

.camera__logo--img:hover {
  transform: scale(1.09);
  cursor: pointer;
}

.photo__instructions {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fcfcfc;
  font-weight: 400;
  text-align: center;
}

.photo__instructions--title {
  font-size: 14px;
  line-height: 48px;
}

.photo__instructions--lists {
  display: flex;
  gap: 34px;
  font-size: 14px;
  list-style: none;
}

.photo__instructions--item {
  position: relative;
  padding-left: 28px;
}

.photo__instructions--item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 12px;
  height: 12px;
  border: 2px solid #fcfcfc;
  background: transparent;
  box-sizing: border-box;
}

.photo__back--button {
  position: absolute;
  color: transparent;
  top: 85%;
  left: 0;
  z-index: 10002;
  filter: invert(100%);
}

/* 

CAPTURED SCREEN AFTER PICTURE IS TAKEN

*/

.captured__text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fcfcfc;
  font-size: 16px;
  font-weight: 400;
  padding: 12px 32px;
  border-radius: 12px;
  z-index: 10002;
  pointer-events: none;
  text-align: center;
}

.camera__buttons--after {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  filter: invert(100%);
}

.fullcamera__back--button,
.fullcamera__proceed--button {
  margin: 0;
}

/* 

PHOTO Loading PAGE

*/

.photo__analizing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.photo__analizing h2 {
  font-size: 16px;
  font-weight: 600;
  color: #1a1b1c;
}

/* 

ANALYSIS PAGE

*/

.analysis__header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  max-width: 500px;
}

.analysis__title {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 12px;
}

.analysis__para {
  font-weight: 400;
  font-size: 14px;
}

.analysis__container {
  position: relative;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rotating-squares-group {
  position: relative;
}

.demo__square {
  position: relative;
  width: 125px;
  height: 125px;
  z-index: 20;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.demo__title,
.weather__title,
.skin__title,
.cosmetic__title {
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.demo__square::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f3f3f4;
  z-index: -1;
  transform: rotate(45deg);
  transform-origin: center center;
}

.demo__square:hover::before {
  background: #e1e1e2; /* or any color you want for hover */
}

.demo__squares-group {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.7fr 1fr 0.7fr;
  width: 500px;
  height: 350px;
  justify-items: center;
  align-items: center;
}

.demo__squares-group .demo__square:nth-child(1) {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.demo__squares-group .demo__square:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
  justify-self: end;
  transform: translate(-30px, -30px); /* Move left and up */
}

.demo__squares-group .demo__square:nth-child(3) {
  grid-column: 2;
  grid-row: 2;
  justify-self: start;
  transform: translate(30px, -30px); /* Move right and up */
}

.demo__squares-group .demo__square:nth-child(4) {
  grid-column: 1 / span 2;
  grid-row: 3;
  justify-self: center;
  transform: translateY(-60px);
}

.skin__button,
.weather__button,
.cosmetic__button,
.demo__button {
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 200;
}

.analysis__back--button {
  position: absolute;
  left: 0;
  bottom: 40px;
  z-index: 100;
}

.analysis__summary--button {
  position: absolute;
  right: 0;
  bottom: 40px;
  z-index: 100;
}

/* 

DEMOGRAPHICS PAGE   

*/

.demographics__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.ai__label {
  font-weight: 600;
  font-size: 16px;
}

.demographics__title {
  font-weight: 400;
  font-size: 72px;
}

.demographics__subtitle {
  font-weight: 400;
  font-size: 14px;
}

.demographics__container {
  width: 100%;
  max-width: 1920px;
  padding-top: 20px;
  margin-top: 36px;
  margin: 0 auto;
  padding: 12px;
}

.demographic__selection {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.demo__selector {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-bottom: 66px;
  width: 20%;
}

.demo__box {
  width: 100%;
  max-width: 350px;
  background-color: #f3f3f4;
  border: 1px solid #f3f3f4;
  padding: 4px;
  margin-bottom: 12px;
  border-top: 2px solid #1a1b1c;
}

.demo__box:hover {
  background-color: #e1e1e2;
  cursor: pointer;
}

.race__selected--title,
.selected__title,
.age__selected--title,
.gender__selected--title {
  color: #1a1b1c;
  padding: 12px;
  padding-right: 84px;
  font-weight: 600;
  font-size: 16px;
  text-align: left;
}

.selectable-box--selected .race__title,
.selectable-box--selected .race__confidence,
.selectable-box--selected .race__selected--title,
.selectable-box--selected .selected__title,
.selectable-box--selected .age__selected--title,
.selectable-box--selected .gender__selected--title {
  color: #fcfcfc;
}

.race__title::before {
  content: "";
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%) rotate(50deg);
  width: 10px;
  height: 10px;
  color: #1a1b1c;
  border: 2px solid;
  background: transparent;
  transition: background 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  padding: 2px;
  box-sizing: border-box;
}

.selectable-box--selected .race__title::before {
  border-color: #fcfcfc;
  background: #fcfcfc;
  box-shadow: 0 0 0 1px #1a1b1c inset;
  transition: background 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.demographic__display {
  width: 52%;
  max-width: 1250px;
  height: 50vh;
  padding-left: 4px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  border-top: solid 2px #1a1b1c;
  background-color: #f3f3f4;
}

.demo__display--title {
  grid-row: 1;
  grid-column: 1;
  align-self: start;
  justify-self: start;
  font-size: 40px;
  font-weight: 400;
  padding: 4px;
}

.demographic__display span {
  grid-row: 2;
  grid-column: 2;
  align-self: end;
  justify-self: end;
}

.demo__display--percentage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  background: none;
  position: relative;
  font-weight: 400;
  --percent: 96;
}

.demo__display--percentage::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: 2px solid #e1e1e2;
  box-sizing: border-box;
}

.demo__display--percentage::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-top-color: #1a1b1c;
  border-right-color: #1a1b1c;
  border-bottom-color: #1a1b1c;
  border-left-color: #1a1b1c;
  mask-image: conic-gradient(
    #1a1b1c 0% calc(var(--percent, 96) * 1%),
    transparent calc(var(--percent, 96) * 1%) 100%
  );
  -webkit-mask-image: conic-gradient(
    #1a1b1c 0% calc(var(--percent, 96) * 1%),
    transparent calc(var(--percent, 96) * 1%) 100%
  );
}

.demo__display--percentage-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  font-weight: 600;
  color: #1a1b1c;
  pointer-events: none;
}

.demographic__confidence {
  width: 25%;
  height: 50vh;
  background-color: #f3f3f4;
  border-top: solid 2px #1a1b1c;
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.demo__confidence--list {
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 12px;
}

.demo__confidence--heading {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 8px;
}

.confidence__subject {
  font-size: 16px;
  font-weight: 500;
  padding-right: 32px;
}

.confidence__title {
  font-size: 16px;
  font-weight: 500;
}

.demo__races {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 8px 8px 8px 32px;
  max-width: 420px;
}

.selectable-box {
  background-color: #f3f3f4;
  color: #1a1b1c;
  transition: background 0.2s, color 0.2s;
  cursor: pointer;
}

.selectable-box--selected {
  background-color: #1a1b1c;
  color: #fcfcfc;
}

.selectable-box--selected:hover {
  background-color: #232425;
}

.race__title,
.race__confidence {
  font-size: 16px;
  font-weight: 400;
  color: #1a1b1c;
  list-style: none;
}

.race__title::before {
  content: "";
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%) rotate(50deg);
  width: 10px;
  height: 10px;
  color: #1a1b1c;
  border: 2px solid;
  background: transparent;
  transition: background 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  padding: 2px;
  box-sizing: border-box;
}

.selectable-box--selected .race__title::before {
  border-color: #fcfcfc;
  background: #fcfcfc;
  box-shadow: 0 0 0 1px #1a1b1c inset;
  transition: background 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.demo__races.selectable-box--selected {
  background-color: #1a1b1c;
  color: #fcfcfc;
}

.demo__races.selectable-box--selected:hover {
  background-color: #2a2b2c;
}

.race__title:hover {
  cursor: pointer;
}

.demo__races:hover {
  background-color: #e1e1e2;
  cursor: pointer;
}

.demographics__back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1920px;
}

.back__text--paragraph {
  font-size: 14px;
  font-weight: 600;
  padding: 0 350px;
  font-weight: 400;
  color: #a0a4ab;
  font-size: 16px;
  text-align: center;
}

.reset__button {
  border: solid 1px #1a1b1c;
  background: none;
  color: #1a1b1c;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  padding: 8px 20px;
  margin-right: 12px;
}

.reset__button:hover {
  background: #e1e1e2;
}

.confirm__button:hover {
  background: #2a2b2c;
}

.confirm__button {
  border: none;
  font-size: 14px;
  background: #1a1b1c;
  padding: 8px 20px;
  color: #fcfcfc;
  cursor: pointer;
}

/* 


FOOTER 


*/

.footer__text {
  font-size: 14px;
  color: #1a1b1c;
  max-width: 330px;
  line-height: 24px;
  padding-left: 20px;
  font-weight: 400;
  text-align: left;
}

/* 

large tablets, small laptops

*/

@media (max-width: 1200px) {
  /* Main Page */
  .main-bar {
    min-height: 70vh;
    padding: 24px;
  }
  .left__rectangle {
    transform: scale(0.8);
    top: 30px;
    left: -20px;
  }
  .left__rectangle--two {
    transform: scale(0.8);
    top: 10px;
    left: -20px;
  }
  .left__rectangle--three {
    transform: scale(0.8);
    top: -10px;
    left: -20px;
  }
  .right__rectangle {
    transform: scale(0.8);
    top: 30px;
    right: -20px;
  }
  .right__rectangle--two {
    transform: scale(0.8);
    top: 10px;
    right: -20px;
  }
  .right__rectangle--three {
    transform: scale(0.8);
    top: -10px;
    right: -20px;
  }
  .footer__text {
    padding-top: 36px;
  }
  .main__title {
    font-size: 60px;
    line-height: 80px;
    margin-bottom: 24px;
  }

  /* photo upload page */

  .photo__upload--section,
  .photo__scan--section {
    gap: 60px;
    height: auto;
    width: 100%;
    max-width: 600px;
    padding: 24px 0;
  }
  .AI__squares__one,
  .AI__squares__two,
  .AI__squares__three,
  .local__squares__one,
  .local__squares__two,
  .local__squares__three {
    height: 300px;
  }
  .photo__upload--img,
  .photo__scan--img {
    width: 100px;
  }
  .pin__arrow--camera {
    top: -50px;
    left: 60px;
    height: 60px;
  }
  .pin__arrow--local {
    top: 90px;
    left: -30px;
    height: 60px;
  }
  .photo__scan--title {
    top: -60px;
    left: 140px;
    font-size: 12px;
  }
  .upload__title {
    top: 140px;
    left: -140px;
    font-size: 12px;
    max-width: 300px;
  }
  
  /* demographics page */ 

  .demographics__title {
    font-size: 48px;
  }
  .back__text--paragraph {
    padding: 0 75px;
  }
  .demographic__display {
    width: 100%;
    max-width: 500px;
  }
  .demo__selector {
    width: 100%;
    max-width: 150px;
    margin-bottom: 64px;
  }
  .demographic__confidence {
    width: 100%;
    max-width: 150px;
  }
  .demo__display--percentage {
    width: 200px;
    height: 200px;
  }
  .confidence__title, .confidence__subject {
    font-size: 14px;
    padding: 0 4px;
  }
  .race__title, .race__confidence {
    font-size: 14px;
  }
}

/* Tablets and large phones */

@media (max-width: 800px) {
  /* Main Page */
  .main__title {
    font-size: 50px;
    line-height: 48px;
    margin-bottom: 16px;
  }
  .arrow {
    max-width: 150px;
    font-size: 12px;
    gap: 8px;
    padding: 12px;
  }
  .left__rectangle {
    transform: scale(0.6);
    top: 20px;
    left: -40px;
  }
  .right__rectangle {
    transform: scale(0.6);
    top: 30px;
    right: -40px;
  }

  .left__rectangle--two,
  .left__rectangle--three,
  .right__rectangle--two,
  .right__rectangle--three {
    display: none;
  }

  /* intro section */

  .analysis__tag {
    font-size: 14px;
  }
  .square__one,
  .square__two,
  .square__three {
    height: 360px;
  }
  .name__input {
    font-size: 36px;
    max-width: 280px;
    letter-spacing: -2px;
    border-bottom: 1px solid #1a1b1c;
    margin-bottom: 16px;
  }
  .intro__prompt {
    font-size: 12px;
    line-height: 20px;
    opacity: 0.4;
    margin-bottom: 12px;
  }
  .back__arrow {
    margin-top: 24px;
  }
  .back__text {
    font-size: 12px;
    padding-left: 8px;
  }
  .proceed__text {
    font-size: 12px;
  }
  .proceed__arrow {
    padding: 20px;
  }

  /* photo upload page */

  .AI__squares__one,
  .AI__squares__two,
  .AI__squares__three,
  .local__squares__one,
  .local__squares__two,
  .local__squares__three {
    height: 250px;
  }
  .photo__upload--section,
  .photo__scan--section {
    width: 100%;
    max-width: 450px;
  }

  /* demographics page */

  .demographics__selection {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .demographics__title {
    font-size: 36px;
  }
  .back__text--paragraph {
    padding: 12px;
    font-size: 14px;
  }
  .reset__button{
    display: none;
  }
  .demographic__display {
    width: 100%;
    max-width: 300px;
  }
  .demo__display--title {
    font-size: 32px;
  }
  .demo__selector {
    width: 100%;
    height: auto;
    max-width: 115px;
  }
  .race__selected--title, .selected__title {
    font-size: 14px;
  }
  .demographic__confidence {
    width: 100%;
    max-width: 150px;
  }
  .demo__display--percentage {
    width: 100px;
    height: 100px;
  }
  .confidence__title, .confidence__subject {
    font-size: 8px;
    padding: 0 4px;
  }
  .race__title, .race__confidence {
    font-size: 10px;
  }
  .demographics__back-button {
    margin-top: 54px;
  }
}

/* phones */

@media (max-width: 620px) {
  /* Main Page */

  .main__title {
    font-size: 36px;
    line-height: 32px;
    margin-bottom: 8px;
  }
  .button__img,
  .left__button {
    width: 32px;
    height: 32px;
  }
  .button__border {
    display: none;
  }

  .left__rectangle,
  .right__rectangle {
    display: none;
  }
  .arrow {
    max-width: 80px;
    font-size: 8px;
    gap: 4px;
    padding: 6px;
  }

  /* intro section */

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  .analysis__tag {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }
  /* photo upload page */

  .photo__upload--section,
  .photo__scan--section {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 320px;
  }
  .AI__squares__one,
  .AI__squares__two,
  .AI__squares__three,
  .local__squares__one,
  .local__squares__two,
  .local__squares__three {
    display: none;
  }
  .upload__title {
    top: 135px;
    left: -5px;
    font-size: 14px;
    max-width: 200px;
    text-align: center;
  }
  .pin__arrow--camera, .pin__arrow--local {
    display: none;
  }
  .photo__scan--title {
    top: -90px;
    left: 15px;
    font-size: 14px;
    text-align: center;
    width: 100%;
    max-width: 200px;
  }
  .camera__access__text{
    padding: 8px 8px 16px 8px;
    font-size: 14px;
    text-align: center;
  }
  .camera__access__popup {
    width: auto;
    top: 40%;
    right: 30%;
    max-width: 200px;
  }
  .permission__buttons {
    justify-content: center;
    font-size: 12px;
  }

  /* demographics page */
 
  .demographics__header{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
  }
  .demo__selector {
    padding: 0px;
    margin-bottom: 56px;
  }
  .race__selected--title, .selected__title {
    font-size: 10px;
  }
  .demo__box {
    padding: 0px;
  }
  .demographics__title {
    font-size: 32px;
  }
  .demographic__display {
    width: 100%;
    max-width: 250px;
    height: 40vh;
  }
  .demo__display--title {
    font-size: 24px;
  }
  .demo__display--percentage {
    width: 60px;
    height: 60px;
  }
  .demographic__confidence {
    width: 100%;
    max-width: 120px;
    height: 40vh;
  }
  .back__text--paragraph {
    padding: 12px;
    font-size: 12px;
  }
  .demographics__back-button {
    padding: 0 12px;
    margin-top: 72px;
  }
  .confirm__button {
    padding: 6px 12px;
  }

}

/* small phones */

@media (max-width: 480px) {
  /* Main Page */

  .main-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main__title {
    font-size: 48px;
    line-height: 64px;
    text-align: center;
  }
  .arrow__right {
    display: flex;
    flex-direction: column;
    padding-top: 64px;
    align-items: center;
    width: 80px;
    font-size: 14px;
    font-weight: 400;
  }
  .button__img {
    width: 40px;
    height: 40px;
  }
  .arrow__left {
    display: none;
  }
  .footer__text {
    padding: 0;
    text-align: center;
    margin-top: 34px;
  }

  /* intro section */

  .name__input {
    font-size: 24px;
    max-width: 220px;
    letter-spacing: -1px;
    border-bottom: 1px solid #1a1b1c;
    margin-bottom: 12px;
  }
  .square__one,
  .square__two,
  .square__three {
    height: 280px;
  }
  /* photo upload page */

  .camera__access__popup {
    width: auto;
    top: 40%;
    right: 20%;
    max-width: 180px;
  }

  /* seting up camera screen*/

  .photo__instructions--title, .photo__instructions--lists, .photo__instructions--item {
    font-size: 10px;
  }
  .camera__scan--img{
    width: 100px;
  }
  .camera__setup--title{
    font-size: 20px;
  }

  /* demographics page */
  .demographics__container{
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
  .demo__sekector {
    width: 100%;
    max-width: 100px;
    margin: 0 auto;
    padding: 0px;
  }

.demographics__selection {
    width: 100%;
  }
  .demographics__title {
    font-size: 24px;
  }
  .demographic__display {
    display: none;
  }
  .demo__display--percentage{
    display: none;
  }
  .back__text--paragraph {
    font-size: 10px;
    padding: 8px;
  }
}
